<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    <title>theHam</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top fond_nt">
        <div class="container">
            <a href="#" class="navbar-brand font-weight-bold"><i class="fab fa-hire-a-helper vert"></i> the<span class="vert">Ham</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase small" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#home" class="nav-link small">home</a></li>
                    <li class="nav-item"><a href="#skills" class="nav-link small">skills</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link small">about</a></li>
                    <li class="nav-item"><a href="#work" class="nav-link small">work</a></li>
                    <li class="nav-item"><a href="#services" class="nav-link small">services</a></li>
                    <li class="nav-item"><a href="#testimonial" class="nav-link small">testimonial</a></li>
                    <li class="nav-item"><a href="#team" class="nav-link small">team</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link small">blog</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link small">contact</a></li>
                    <li class="nav-item" id="search">
                        <a class="nav-link small">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    <li class="nav-item" id="close">
                        <a class="nav-link">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>
                </ul>
                <div class="input-group" id="search_input">
                    <input type="search" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- HEADER -->
    <section id="home" class="container-fluid fond_accueil text-center py-5">
        <div class="text-light py-5">
            <h4 class="text-uppercase font-weight-bold pt-5">theham is <span class="vert">wordpress theme</span></h4>
            <h1 class="text-uppercase font-weight-bold display-3">we are creative</h1>
            <p class="mb-5 h3">Just Buy And Enjoy Our Awesome Features</p>
            <button type="button" class="btn text-light text-uppercase font-weight-bold m-2 my-5 px-4 py-2 fond_vert boutons_vert">explore now</button>
            <button type="button" class="btn text-light text-uppercase font-weight-bold m-2 my-5 px-4 py-2 bg-primary">purchase now</button>
        </div>
    </section>
    <!-- PICTOS -->
    <section class="container-fluid">
        <div class="row text-center mt-1 pb-3">
            <div class="col-6 col-md-3 py-5 fond_marine">
                <img src="assets/img/Picto_doigt_80x80.jpg" alt="doigt">
                <p class="text-uppercase vert font-weight-bold mt-2">different theme option</p>
            </div>
            <div class="col-6 col-md-3 py-5 fond_vert">
                <img src="assets/img/Picto_ruby_80x80.jpg" alt="ruby">
                <p class="text-uppercase text-light font-weight-bold mt-2">fully customizable</p>
            </div>
            <div class="col-6 col-md-3 py-5 fond_marine">
                <img src="assets/img/Picto_ampoule_80x80.jpg" alt="ampoule">
                <p class="text-uppercase vert font-weight-bold mt-2">unlimited support</p>
            </div>
            <div class="col-6 col-md-3 py-5 fond_vert">
                <img src="assets/img/Picto_ecrans_80x80.jpg" alt="ecrans">
                <p class="text-uppercase text-light font-weight-bold mt-2">responsive all device</p>
            </div>
        </div>
    </section>
    <!-- SKILLS -->
    <div id="skills" class="container">
        <h2 class="text-center mt-5">Creative Amazing Features</h2>
        <hr class="fond_vert">
        <div class="row py-5">
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-leaf vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Retina Ready</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="fas fa-hourglass-half vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Parallax Effects</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="fas fa-lightbulb vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Creative Solutions</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-edit vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Creative Blog Style</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="fas fa-laptop vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Amazing Interface</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="fas fa-paper-plane vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Mega Menus</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-search vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Icon Fonts</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="fas fa-screwdriver vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">SEO Optimized</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
                <div class="p-3">
                    <i class="far fa-address-card vert"></i>
                    <h5 class="font-weight-bold d-inline p-3">Custom Backgrounds</h2>
                    <p class="mt-2">
                        All our modules are built with the possibility to choose between different design and you change.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT -->
    <section id="about" class="container-fluid fond_about d-none d-lg-block"></section>
    <!-- WORK -->
    <section id="work" class="container-fluid fond_work">
        <div class="container pt-3 text-center">
            <h2 class="text-center mt-5">Our Amazing Work</h2>
            <hr class="fond_vert mb-5">
            <table class="table table-bordered bg-light text-center w-50 mx-auto mb-5">
                <tr>
                    <td class="p-3"><a href="#">All</a></td>
                    <td class="p-3"><a href="#">Graphic Design</a></td>
                    <td class="p-3"><a href="#">Web Design</a></td>
                    <td class="p-3"><a href="#">Landing Pages</a></td>
                    <td class="p-3"><a href="#">Wordpress</a></td>
                </tr>
            </table>
            <div class="mb-3 justify-content-center">
                <div class="row justify-content-center">
                    <div>
                        <img src="assets/img/gallery/gallery_item1-178x130.jpg" alt="gallery" class="img-fluid">
                        <img src="assets/img/gallery/gallery_item2-178x130.jpg" alt="gallery" class="img-fluid">
                    </div>
                    <div>
                        <img src="assets/img/gallery/gallery_item3-178x130.jpg" alt="gallery" class="img-fluid">
                        <img src="assets/img/gallery/gallery_item4-178x130.jpg" alt="gallery" class="img-fluid">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div>
                        <img src="assets/img/gallery/gallery_item4-178x130.jpg" alt="gallery" class="img-fluid">
                        <img src="assets/img/gallery/gallery_item1-178x130.jpg" alt="gallery" class="img-fluid">
                    </div>
                    <div>
                        <img src="assets/img/gallery/gallery_item2-178x130.jpg" alt="gallery" class="img-fluid">
                        <img src="assets/img/gallery/gallery_item3-178x130.jpg" alt="gallery" class="img-fluid">
                    </div>
                </div>
            </div>
            <button class="btn fond_vert text-light text-uppercase font-weight-bold px-4 py-2 m-5 boutons_vert">load more</button>
        </div>
    </section>
    <!-- SERVICES -->
    <section id="services" class="container">
        <h2 class="text-center mt-5">Our Services</h2>
        <hr class="fond_vert mb-5">
        <table class="table table-bordered table-responsive- w-75 mx-auto text-center fond_work">
            <tr>
                <td class="p-3">Design</td>
                <td class="p-3">Graphic Design</td>
                <td class="p-3">Online Support</td>
                <td class="p-3">App Design</td>
                <td class="p-3">Online Marketing</td>
                <td class="p-3">Seo Service</td>
            </tr>
        </table>
        <div class="row w-75 mx-auto mb-5 justify-content-center">
            <img src="assets/img/img_clavier-122x85.jpg" alt="laptop" class="col-2 mt-1 p-0 d-none d-lg-block">
            <p class="col-10 small m-0 text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et mi eu enim varius rutrum quis nec risus. Mauris pellentesque sapien tortor. Praesent tellus erat, consectetur et maximus sed, posuere id neque. Mauris sed semper odio. Suspendisse potenti. Ut ultricies sem fermentum neque posuere, convallis placerat elit gravida. Donec sed massa quis enim viverra dignissim et in sem. Donec eget est nec ex consequat aliquet dictum ac nisl. Ut auctor volutpat ipsum at tempor. Aliquam eget ante at ex varius eleifend quis et purus. Phasellus lacinia mollis faucibus. Integer euismod urna nec finibus posuere. Integer quis felis egestas, tempus sem in, volutpat est.
            </p>
        </div>
    </section>
    <section class="container-fluid text-center mt-5 py-5 fond_laptop">
        <h1 class="vert font-weight-bold text-uppercase pt-5">everything is ready. just buy and install now</h1>
        <p class="small text-light">Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you</p>
        <button class="btn fond_vert text-light text-uppercase font-weight-bold m-2 my-5 px-4 py-2 boutons_vert">purchase now</button>
    </section>
    <!-- TESTIMONIAL -->
    <section id="testimonial" class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-lg-3 pt-4 fond_marine_testi">
                <img src="assets/img/cercle1-117x117.jpg" alt="briefcase">
                <h2 class="text-light font-weight-bold mt-1 mb-0">4609</h2>
                <p class="vert">Works</p>
            </div>
            <div class="col-lg-3 pt-4 fond_vert">
                <img src="assets/img/cercle2-117x117.jpg" alt="briefcase">
                <h2 class="text-light font-weight-bold mt-1 mb-0">3470</h2>
                <p>Customers</p>
            </div>
            <div class="col-lg-3 pt-4 fond_marine_testi">
                <img src="assets/img/cercle3-117x117.jpg" alt="briefcase">
                <h2 class="text-light font-weight-bold mt-1 mb-0">2908</h2>
                <p class="vert">Purchase</p>
            </div>
            <div class="col-lg-3 pt-4 fond_vert">
                <img src="assets/img/cercle4-117x117.jpg" alt="briefcase">
                <h2 class="text-light font-weight-bold mt-1 mb-0">1908</h2>
                <p>Office</p>
            </div>
        </div>
    </section>
    <div class="container text-center mt-5">
        <h2 class="pb-3">Our Pricing Table</h2>
        <table class="table table-bordered table-responsive-md mt-5 w-75 mx-auto">
            <thead>
                <tr>
                    <th class="p-2 text-uppercase font-weight-bold">personal</th>
                    <th class="p-2 text-uppercase font-weight-bold">business</th>
                    <th class="p-2 text-uppercase font-weight-bold vert">professional</th>
                    <th class="p-2 text-uppercase font-weight-bold">diamond</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        <button class="btn text-light text-uppercase font-weight-bold m-2 px-4 py-2 px-5 fond_marine_testi boutons_marine">buy now</button>
                    </th>
                    <th>
                        <button class="btn text-light text-uppercase font-weight-bold m-2 px-4 py-2 px-5 fond_marine_testi boutons_marine">buy now</button>
                    </th>
                    <th>
                        <button class="btn text-light text-uppercase font-weight-bold m-2 px-4 py-2 px-5 fond_vert boutons_vert">buy now</button>
                    </th>
                    <th>
                        <button class="btn text-light text-uppercase font-weight-bold m-2 px-4 py-2 px-5 fond_marine_testi boutons_marine">buy now</button>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td class="text-light fond_marine_testi py-3">
                        <span class="font-weight-bold h1">$99</span><span class="small">/Month</span>
                    </td>
                    <td class="text-light fond_marine_testi py-3">
                        <span class="font-weight-bold h1">$199</span><span class="small">/Month</span>
                    </td>
                    <td class="text-light fond_vert py-3">
                        <span class="font-weight-bold h1">$299</span><span class="small">/Month</span>
                    </td>
                    <td class="text-light fond_marine_testi py-3">
                        <span class="font-weight-bold h1">$299</span><span class="small">/Month</span>
                    </td>
                </tr>
                <tr>
                    <td>1 Hosting</td>
                    <td>1 Hosting</td>
                    <td>1 Hosting</td>
                    <td>1 Hosting</td>
                </tr>
                <tr>
                    <td>2 Email Marketing</td>
                    <td>2 Email Marketing</td>
                    <td>2 Email Marketing</td>
                    <td>2 Email Marketing</td>
                </tr>
                <tr>
                    <td>5 Database</td>
                    <td>5 Database</td>
                    <td>5 Database</td>
                    <td>5 Database</td>
                </tr>
                <tr>
                    <td>2 Design Pack</td>
                    <td>2 Design Pack</td>
                    <td>2 Design Pack</td>
                    <td>2 Design Pack</td>
                </tr>
                <tr>
                    <td>3 Website Layouts</td>
                    <td>3 Website Layouts</td>
                    <td>3 Website Layouts</td>
                    <td>3 Website Layouts</td>
                </tr>
                <tr>
                    <td>5 Header Style</td>
                    <td>5 Header Style</td>
                    <td>5 Header Style</td>
                    <td>5 Header Style</td>
                </tr>
                <tr>
                    <td>3 Online Store</td>
                    <td>3 Online Store</td>
                    <td>3 Online Store</td>
                    <td>3 Online Store</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- TEAM -->
    <div id="team" class="container mt-5 pb-5">
        <h2 class="text-center">Meet Our Team</h2>
        <div class="row w-50 mx-auto mt-5 justify-content-around">
            <div>
                <img src="assets/img/team1-165x141.jpg" alt="team">
                <div class="fond_marine_testi p-2">
                    <p class="text-light font-weight-bold m-0">Mis Liza</p>
                    <p class="vert m-0">UX Designer</p>
                </div>
            </div>
            <div>
                <img src="assets/img/team2-165x141.jpg" alt="team">
                <div class="fond_marine_testi p-2">
                    <p class="text-light font-weight-bold m-0">Hasan Mahmud</p>
                    <p class="vert m-0">Web Designer</p>
                </div>
            </div>
            <div>
                <img src="assets/img/team3-165x141.jpg" alt="team">
                <div class="fond_marine_testi p-2">
                    <p class="text-light font-weight-bold m-0">Alifa Jannat</p>
                    <p class="vert m-0">Web Designer</p>
                </div>
            </div>
        </div>
    </div>
    <div id="blog" class="container-fluid fond_tablet mt-5 d-none d-lg-block"></div>
    <!-- CONTACT -->
    <div id="contact" class="container my-5 py-3">
        <div class="row py-4 justify-content-center">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="760" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=new%20york&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;max-height:400px;max-width:760px;}.gmap_canvas {overflow:hidden;background:none!important;max-height:400px;max-width:760px;}</style></div>
            <form action="#" method="post" class="ml-3">
                <fieldset>
                    <legend class="mb-5">Keep In Touch</legend>
                    <div class="form-group mt-2">
                        <input type="text" name="#" id="#" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="#" id="#" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea name="#" id="#" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-block text-light text-uppercase font-weight-bold my-2 fond_vert boutons_vert">send request</button>
                </fieldset>
            </form>
        </div>
    </div>
    <footer class="container-fluid fond_marine py-4">
        <p class="text-muted text-center m-0 small">Copyright 2015 <span class="vert">theHam</span> | All Rights Reserved</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
</body>
</html>